# === Настройки контейнеров ===
POSTGRES_USER=crypto_user123
POSTGRES_PASSWORD=crypto_secure_pass123
POSTGRES_DB=crypto_db_api123
POSTGRES_SERVER=crypto_postgres123
POSTGRES_PORT=5432

# === Строка подключения к БД внутри Docker ===
DATABASE_URL=postgresql://crypto_user:crypto_secure_pass@crypto_postgres:5432/crypto_db_api123

# === Параметры JWT ===
SECRET_KEY=supersecretkeychangeit_crypto_auth_992183
ACCESS_TOKEN_EXPIRE_MINUTES=10080
